[Unit]
Description=virtual PDU service
Wants=network.target

[Service]
Type=simple
User=vpdu
Group=qemu
Environment=VPDU_DIR={{ cache_mount }}/vpdu PYTHONUNBUFFERED=1
ExecStartPre=+mkdir -p "$VPDU_DIR"
ExecStartPre=+chown -R vpdu "$VPDU_DIR"
ExecStart=-/usr/local/bin/vpdu --bridge {{ vpdu_bridge }} --port-cfg 1:x86_64-efi-tftp --port-cfg 2:arm64-efi-tftp

[Install]
WantedBy=multi-user.target
